/* Projects Section */
.project-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.project-list li {
  margin: 10px 0;
  font-size: 1.2rem;
  transition: transform 0.3s ease-in-out;
}

.project-list li:hover {
  transform: scale(1.05);
}

.projects-section .project-list a {
  color: #00a8e8; /* Màu xanh sáng hợp mệnh Thủy */
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.projects-section .project-list a:hover {
  background: #0077b6;
  color: white;
}
