.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0rem 12% 0rem;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.header .logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}

.header .logo:hover {
  transform: scale(1.1);
  cursor: default;
}

.header .logo span {
  text-shadow: 0 0 25px var(--main-color);
}

.header .navbar {
  justify-content: space-around;
  align-items: center;
}

.header .navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

.header .navbar a:hover,
.header .navbar a.active {
  color: var(--main-color);
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
}

.header #menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}

@media (max-width: 1285px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 951px) {
  .header {
    padding: 2rem 3%;
  }

  .Contact form {
    flex-direction: column;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 895px) {
  .header #menu-icon {
    display: block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 15px;
    display: none;
  }

  .header .navbar .active {
    display: block;
  }

  .header .navbar a {
    display: block;
    font-size: 2rem;
    color: gray;
  }

  section.Home {
    flex-direction: column-reverse;
  }

  section.Home .home-content h3 {
    font-size: 2.6rem;
  }

  section.Home .home-content h1 {
    font-size: 8rem;
    margin-top: 3rem;
  }

  section.Home .home-content p {
    min-width: 600px;
    margin: 0 auto;
  }
}
