.container {
  font-family: Arial, sans-serif;
  background-color: #001f3f; /* Xanh đậm, hợp mệnh Thủy */
  color: white;
}

/* Sections */
.container .section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.container .siteContent {
  margin-top: 60px;
}
